header{
    border-bottom: 1px dashed #774181;
    padding: 1px 1px;
    margin: 0;
}

body{
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    font-family:"Comic Neue", cursive;
    margin: 0;
    max-width: 650px;
    padding: 20px 20px 20px 20px;
    text-align: center;
}

#app-container{
    background: #fbeeff;
    border: 1px solid #774181;
    border-radius: 20px;
    padding: 5px 10px 10px 5px;
    line-height: 20px;
    margin: 5px 5px 5px 5px;
}

/* Form */
#search-form {
    text-align: center;
    margin: 5px 5px 5px 5px;
    border-radius: 10px;
    background-color:#774181;
    padding: 8px 8px 8px 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#city-input{
    color:#4a47a3;
    background-color:#fbeeff;
    border: none;
    border-radius: 5px;
    font-family: "Comic Neue", cursive;
    font-weight: 800;
    font-style: italic;
    margin: 5px auto;
    padding: 5px 5px 5px 5px;
    width: 80%;
}
#city-input::placeholder{
    color: #4a47a3;
    background-color:#fbeeff;
}

#city-search-button{
    border: none;
    border-radius: 5px;
    background-color: #fbeeff;
    color:#4a47a3;
    font-family: "Comic Neue", cursive;
    font-weight: 800;
    margin: 0 auto;
    padding: 5px 5px 5px 5px;
    cursor: pointer;  
}

/* Date & Time*/
#date-time {
    color:#4a47a3;
    font-family: "Comic Neue", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 15px;
    display: flex;
    justify-content:center;
    margin: 1px 1px 1px 1px;
    padding: 5px 2px;
    line-height: 1.0;
}

/* City, Temp & Emoji */
.city-name{
    font-weight: 800;
    font-style: normal;
    color:#413c69;
    font-family: "Henny Penny", system-ui; 
    padding: 20px 10px;
    margin-bottom: 0;
    font-size: 50px;
    font-size: clamp(32px, 10vw, 50px);
    text-align: center;
    
}

.emoji-temp-unit-container {
    font-family: "Henny Penny", system-ui; 
    font-style: normal;
    color: #413c69;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 5px 5px 5px 5px;
    padding: 2px 2px 2px 2px;
    text-align: center;
}

.emoji{
    font-size: 80px;
    margin-bottom: 12px;
}

.temperature-value{
    font-size: 55px;
    font-size: clamp(40px, 12vw, 55px);
    font-weight: 800;
}

.unit{
    font-size: 20px;
    font-weight: 700;   
    margin-bottom: 35px;
}

/*Conditions, Humidity & Wind-Speed*/
#conditions-container{
    color: #4a47a3;
    font-family: "Comic Neue", cursive;
    font-style: normal;
    font-size: 15px; 
    display: block;
    padding: 10px;
    line-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    text-align: left;
    border-bottom: 1px solid #774181;
}

#conditions-description{
    text-transform: capitalize;
    font-weight: 700;
}

.humidity-wind-data{
    font-weight: 400;
    color:#4a47a3;
}

#humidity{
    font-weight: 800;    
}

#wind-speed{
    font-weight: 800;
}

strong{
    color:#4a47a3;
}

/*Forecast */
.weather-forecast{
    font-family: "Comic Neue", cursive;
    display: flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: space-evenly;
    line-height: 1.0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.weather-forecast-date{
    font-family: "Henny Penny", system-ui;
    color: #4a47a3;
    font-weight: 600;
    text-align: center;
    line-height: 25px;
    font-size: 15px;
    padding: 1px 1px 1px 1px;
    margin-top: 10px;
}

.forecast-icon{
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin: 0 auto;
}

.weather-forecast-temperatures{
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

.weather-forecast-temperature{
    padding: 5px 5px;
    color: #4a47a3;
    font-weight: 400;
    margin: 2px 2px;
}

footer{
    border-top: 1px dashed #774181;
    color:#4a47a3;
    font-family: "Comic Neue", cursive;
    font-weight: 600;
    font-size: 10px;
    display:block;
    text-align:center;
    margin-top: 10px;
    margin-bottom: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
}

a{
    color: #4a47a3;
    text-decoration: underline;
    font-style: italic;
    font-weight:800;
    font-size: 10px;
}


